<link rel="stylesheet" href="/css/signup.css">
<section class="signup-container">
    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/1090a1108377453.Y3JvcCwxMDgwLDg0NCwwLDEw.jpg" alt="placement_cell_logo" class="placement_cell_logo">
<h1>Sign Up</h1>
    <form class="sign-up-form" action="/employee/create" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="Type in password.." name="password">
    <input type="password" placeholder="Confirm your password..." name="confirm_password">
    <input type="submit" value="update">
</form>
</section>
