
<section class="sign-in-form">
    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/1090a1108377453.Y3JvcCwxMDgwLDg0NCwwLDEw.jpg" alt="placement_cell_logo" class="placement_cell_logo">
<h1>Sign In</h1>
    <form class="sign-in-form" action="/employee/create-session" method="post">
    <input type="email" placeholder="email" name="Your email" required>
    <input type="password" placeholder="Type in password.." name="password" required>
    <button type="submit">Sign In</button>
</form>
</section>
